@include pad{
  .container-fluid{
    padding-left: 40px;
    padding-right: 40px;
  }
  .blog-menu{
    background-color: #650300;
  }
  .nav-link{
    color:map-get($color,white);
    line-height: 1.5rem;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .bg-icon-search{
    height: 30px;
    width: 30px;
    background-size: contain;
  }
  @for $i from 1 through 5{
    .bg-blog-#{$i}{
      width: 50%;
      height: auto;
      margin-bottom: 0px;
      margin-right: 30px;
    }
  }
  .blog-content{
    .container{
      padding-top: 32px;
      padding-bottom: 96px;
    }
    &-title{
      font-size: 3rem;
      padding-left: 16px;
      margin-bottom: 40px;
    }
  }
  .blog-card-group{
    margin-bottom: 64px;
    .card:not(:last-child){
      margin-bottom: 60px;
    }
    .card-body{
      width: 50%;
      &-title{
        font-size: 1.25rem;
        margin-bottom: -2px;
      }
      &-text-group{
        margin-bottom: 32px;
      }
      &-text{
        font-size: 1.25rem;
      }
      &-content{
        font-size: 0.875rem;
        line-height: 1.3125rem;
        margin-bottom: 0;
      }
    }
  }
  
  
  
}