@include desktops{
  .blog-detail{
    .container{
      padding-bottom: 160px;
    }
    .breadcrumb{
      margin-bottom: 8px;
      a{
        display: inline-block;
        color:map-get($color,black);
        text-decoration: none;
        font-weight: 0.875rem;
        line-height: 1.3125rem;
      }
      .active{
        color:map-get($color,red);
      }
    }
    &-hashtag{
      p{
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 2.25rem;
        color:map-get($color,red);
        margin: 0;
        &:first-child{
          margin-right: 4px;
        }
      }
    }
    .title{
      font-weight: 1.25rem;
      line-height: 1.875rem;
      color:map-get($color,redDark);
    }
    .vicetitle{
      font-weight: 0.875rem;
      line-height: 1.3125rem;
    }
    .date{
      font-weight: 500;
      font-weight: 0.875rem;
      line-height: 1.3125rem;
      margin-bottom: 20px;
    }
    &-card{
      margin-bottom: 40px;
      &:last-child{
        margin-bottom: 49px;
      }
    }
    &-bg{
      height: 472px;
      margin-bottom: 24px;
    }
    &-text{
      font-size: 1.25rem;
      line-height: 1.875rem;
    }
    &-share{
      padding-bottom: 21px;
      margin-bottom: 24px;
      p{
        font-size: 1.25rem;
        margin-right: 20px;
      }
    }
    &-share-icon{
      width: 24px;
      height: 24px;
      &:not(:last-child){
        margin-right:20px;
      }
    }
    &-pages{
      .bg-icon-arrow{
        margin-right: 8px;
      }
      p{
        font-size: 1.1875rem;
      }
    }
    &-tags-group{
      h5{
        font-size: 1.75rem;
      }
      li{
        font-size: 1.5rem;
        margin-right: 8px;
      }
    }
    &-tag-icon{
      width: 48px;
      height: 48px;
    }
  }
}