$bg_map:(
  png:banner bg index-design-1 index-design-2 rec-1 rec-2 rec-3 rec-4 index-product-1 index-product-2 index-product-3,
  svg:index-icon-1 index-icon-2 index-icon-3 index-icon-4 icon-diamond icon-sun icon-thunder,
);

@include bgImg;

.bg-banner{
  height: 394px;
  padding-right: 15px;
  color:map-get($color,red);
  &-viceTitle{
    font-weight: 500;
    line-height: 1.875rem;
  }
  &-title{
    font-size: 2rem;
    line-height: 4.5rem;
    font-weight: 700;
  }
}

.index-intro{
  background-color: map-get($color,pink);
  &-container{
    padding-top: 32px;
    padding-bottom: 40px;
  }
  &-title{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 20px;
    color:map-get($color,redDark);
    text-align: center;
  }
  &-card-group{
    .col{
      margin-bottom: 32px;
    }
  }
  .card{
    background-color: map-get($color,pink);
  }
  &-icon{
    width: 100px;
    height: 100px;
    background-size: contain;
  }
  .card-title{
    font-size: 1.5rem;
    line-height: 2.25rem;
    color:map-get($color,redDark);
    font-weight: 700;
    margin-bottom: 8px;
  }
  .card-text{
    line-height: 1.5rem;
    margin-bottom: 0px;
    font-weight: 700;
  }
}

.index-product{
  padding-top: 32px;
  padding-bottom: 40px;
  &-title{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 3rem;
    margin-bottom: 20px;
    text-align: center;
    color:map-get($color,redDark);
  }
  &-row{
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &-bg{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
  }
  &-icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-size: contain;
    z-index:1;
  }
  &-card-title{
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 4.5rem;
    margin-top: 48px;
    margin-bottom: 48px;
    font-style: italic;
    z-index: 1;
    color: map-get($color,red);
  }
}

.index-design{
  padding-top: 32px;
  padding-bottom: 40px;
  &-title{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 3rem;
    color:map-get($color,white);
    margin-bottom: 20px;
    text-align: center;
  }
  ul{
    margin: 0;
  }
  ul>li{
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 0;
    }
    &>a{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 291px;
      text-decoration: none;
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.5625rem;
      color: map-get($color,red);
    }
    .bg-index-design-1{
      background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url("../images/index-design-1.png") no-repeat center center/cover;      
    }
    .bg-index-design-2{
      background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url("../images/index-design-2.png") no-repeat center center/cover;      
    }
  }
}

.index-rec{
  padding-top: 32px;
  padding-bottom: 40px;
  &-title{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 3rem;
    color:map-get($color,redDark);
    text-align: center;
    margin-bottom: 20px;
  }
  &-card{
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
  }
  &-card-body{
    padding: 16px 24px 16px 24px;
  }
  &-card-title{
    margin-bottom: 8px;
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
  &-card-text{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom:50px
  }
  &-card-footer{
    margin-bottom: 0;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color:#707070;
  }
}

.index-connect{
    background-color:map-get($color,pink);
    padding-top: 30px;
    padding-bottom: 40px;
    &-container{
      width: 92%;
      margin: 0 auto;
    }
    &-title{
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 3rem;
      margin-bottom: 20px;
      text-align: center;
    }
    &-text{
      line-height: 1.5rem;
      margin-bottom: 8px;
    }
    &-input-group{
      margin-bottom: 8px;
      &:last-child{
        margin-bottom: 20px;
      }
    }
    &-input-label{
      margin-bottom: 4px;
      font-size: 0.875rem;
      line-height: 1.3125rem;
    }
    &-input-text{
      background-color: map-get($color,pink);
      border:1px solid #000000;
    }
    &-btn{
      display: block;
      margin: 0 auto;
      width: 44%;
      background-color: map-get($color,red);
      font-size: 0.875rem;
      line-height: 1.3125rem;
      font-weight: 700;
      &:hover{
        background-color: map-get($color,black);
      }
    }
  }
