$bg_map:(
  png:logo,
  svg:icon-phone icon-mail icon-fb icon-ig icon-line,
);
@include bgImg;

.container-fluid{
  padding: 0;
}
.header{
  background-color: map-get($color,red);
  .logo{
    h1{
      margin: 0.625rem 0 0.625rem 0;
    }
    .bg-logo{
      margin: 0 auto;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      background-size: contain;
    }
  }
  .menu{
    .nav{
      &-item{
        border:1px solid map-get($color,white);
        a{
          font-size: 1.25rem;
          line-height: 1.8125rem;
          text-align: center;
          color: map-get($color,white);
        }
      }
    }
  }
}
.footer{
  background-color: map-get($color,red);
  .container{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .contact{
    margin-bottom: 1.5rem;
  }
  .info{
    .bg-icon-phone, .bg-icon-mail{
      width: 20px;
      height: 20px;
      background-size: contain;
      margin-right: 0.375rem;
    }
    p{
      color: map-get($color,white);
      margin: 0;
      font-size: 1rem;
      line-height: 2rem;
    }
  }
  .icon-group{
    div{
      width: 24px;
      height: 24px;
      background-size: contain;
    }
  }
  .copyright{
    border-top: 1px dotted map-get($color,white);
    padding-top: 1rem;
    p{
      color:map-get($color, white);
      margin-bottom: 0.5rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}