@include desktops{
  .footer{
    .contact{
      margin-bottom: 1.5rem;
    }
    .info{
      .bg-icon-phone, .bg-icon-mail{
        width: 36px;
        height: 36px;
        margin-right: 1.375rem;
      }
      p{
        font-size: 2.25rem;
        line-height: 3.375rem;
      }
    }
    .icon-group{
      // margin-top: 32px;
      div{
        width: 48px;
        height: 48px;
      }
    }
  }
}