@include desktops{
  .locationDetail{
    .container{
      padding-top: 96px;
      padding-bottom: 160px;
    }
    &-title{
      margin-bottom: 60px;
    }
    &-selection{
      margin-bottom: 32px;
    }
    &-selection-title{
      font-size: 1.5rem;
    }
    &-card{
      margin-right: 30px;
    }
    &-card-bg{
      height: 224px;
    }
    &-card-title{
      margin-bottom: 0;
      padding-top: 12px;
      padding-bottom: 12px;
      border:1px solid #00000021;
      line-height: 2.25rem;
      font-size: 1.5rem;
    }
    &-card-info-item:not(:last-child){
      margin-bottom: 11px;
    }
    &-card-info-text{
      font-size: 1.25rem;
      line-height: 1.875rem;
      margin-bottom: 0;
    }
    &-map{
      height:auto;
      margin-top: 0;
    }
  }
}