@include pad{
  .location{
    .container{
      padding-top: 60px;
    }
    &-title{
      font-size: 3rem;
      line-height: 5rem;
      padding-left: 16px;
      margin-bottom: 40px;
    }
    &-selection{
      margin-bottom: 24px;
    }
    &-selection-title{
      font-size: 1rem;
      margin-right: 20px;
    }
    .form-select{
      width: 40%;
    }
    .col{
      &:last-child{
        margin-bottom: 96px;
      }
    }
    &-card:not(:last-child){
      margin-bottom: 20px;
    }
    &-card-bg{
      height: 164px;
    }
  }
}