@mixin bgImg($map_name:$bg_map,$folder_name:images){
    //為了串檔案字串使用,把檔案格式先取出來
    $map-keys:map-keys($map_name);
    @debug $map-keys;
    @each $key in $map-keys{
        $list:map-get($map_name,$key);
        $list_length:length($list);
        @for $index from 1 through $list_length{
            // nth (先寫你要用哪個變數，第幾個)
            .bg-#{nth($list,$index)}{
                background: url('../#{$folder_name}/#{nth($list, $index)}.#{$key}') no-repeat center center / cover;
            }
        }
    }
}

@mixin desktops{
    @media (min-width: 992px) { 
       @content
    }
};

@mixin pad{
    @media (min-width:768px){
        @content
    }
};