@include pad{
  .product-menu{
    .nav-link{
      padding: 0.875rem 0 0.875rem 0;
      .icon{
        width: 30px;
        height: 30px;
        margin-right: 0.5625rem;
      }
      p{
        font-size: 1.5rem;
        line-height: 3.125rem;
      }
    }
  } 
  
  .heroimg{
    height: 304px;
    margin-bottom: 3.5rem;
  }
  .product-card{
    &-title{
      font-size: 1.5rem;
      margin-bottom: 32px;
      span{
        font-size: 2rem;
        line-height: 3rem;
      }
    }
    .card{
      margin-bottom: 4.5rem;
      img{
        height: 164px;
      }
    }
    .card-title, .card-text{
      font-size: 1.5rem;
    }
    .product-color{
      .box{
        width: 24px;
        height: 24px;
        &:first-child{
          margin-right: 8px;
        }
      }
    }
  }
  .product-pagination{
    margin-bottom: 96px;
  }
}