@include desktops{
  .product-menu{
    .nav-link{
      padding: 1.6875rem 0 1.6875rem 0;
      .icon{
        width: 44px;
        height: 44px;
        margin-right: 0.625rem;
      }
      p{
        font-size: 2rem;
        line-height: 3rem;
      }
    }
    
  } 
  .heroimg{
    margin-bottom: 5rem;
  }
  .product-card{
    &-title{
      font-size: 2rem;
      margin-bottom: 40px;
      span{
        font-size: 3rem;
        line-height: 4rem;
      }
    }
    .card{
      margin-bottom: 6.5rem;
    }
    .card-title, .card-text{
      line-height: 2.25rem;
    }
  }
  .product-pagination{
    display: none;
  }
}