@include pad{
  .questions{
    padding-top: 60px;
    padding-bottom: 96px;
    &-title{
      margin-bottom:40px;
      padding-left: 16px;
      font-size: 3rem;
    }
    &-vicetitle{
      font-weight: 500;
      font-size: 2rem;
      margin-bottom: 32px;
    }
    .questions-list{
      & li:not(:last-child){
        margin-bottom: 24px;
      }
      &-title{
        line-height: 1.4375rem;
        font-weight: 500;
        margin-bottom: 16px;
        font-size: 1.25rem;
      }
      &-ans{
        font-size: 1rem;
        line-height: 1.5rem;
        padding-left: 60px;
      }
    }
  }
}
