@include desktops{
  .questions{
    padding-bottom: 160px;
    &-title{
      margin-bottom:60px;
      font-size: 3rem;
      line-height: 5rem;
    }
    &-vicetitle{
      margin-bottom: 36px;
    }
    .questions-list{
      & li:not(:last-child){
        margin-bottom: 32px;
      }
      &-title{
        line-height: 1.4375rem;
        font-weight: 500;
      }
      &-ans{
        padding-left: 95px;
      }
    }
  }
}