.questions{
  padding-top: 28px;
  padding-bottom: 56px;
  &-title{
    margin-bottom: 24px;
    border-left: 4px solid map-get($color,red);
    padding-left: 8px;
    font-size: 1.75rem;
    line-height: 5rem;
  }
  &-vicetitle{
    font-size: 1.25rem;
    line-height: 4rem;
    margin-bottom: 24px;
  }
  .questions-list{
    & li:not(:last-child){
      margin-bottom: 20px;
    }
    &-title{
      line-height: 1.5rem;
      font-weight: 500;
      margin-bottom: 8px;
    }
    &-ans{
      font-size: 0.875rem;
      line-height: 1.3125rem;
      margin-bottom: 0;
    }
  }
}